<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<header>
    <div class="section__container header__container">
      <div class="header__image">
        <img src="../../assets/Dressing room-amico (2).png" alt="header" />
        <img src="../../assets/Choosing clothes-pana (1).png" alt="header" />
      </div>
      <div class="header__content">
        <div>
          <p class="sub__header">Hey 👋</p>
          <h1>Create Now Your wardrobe</h1>
          <p class="section__subtitle">
            Make your travel more enjoyable with us. We are the best travel
            agency and we are providing the best travel services for our
            clients.
          </p>
          <div class="action__btns">
            <button class="sign-btn">Join Us</button>
            
          </div>
        </div>
      </div>
    </div>
  </header>
