<nav class="navbar">
    <div class="navbar-container container">
        <div class="flex-container">  <!-- Nouveau conteneur -->
            <ul class="menu-items">   <!-- Menu centré -->
                <li><a href="#about">Our audience</a></li>
                <li><a routerLink="/menu">Features</a></li>
                <li><a href="#testimonials">How it work</a></li>
                <li><a href="#contact">Contact us</a></li>
            </ul>
        </div>
        <a href=""><img class="logo" src="../../assets/chickchoice-high-resolution-logo-transparent (3).png"></a>
        <button routerLink="/register" class="sign-btn" >LOGIN</button>
    </div>
</nav>
