
    <!-- Linking Google font link for icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

  <body>
    <aside class="sidebar">
      <div class="logo">
        <img src="../../assets/khalil.jpg" alt="logo">
        <h2>khalil Dridi</h2>
      </div>
      <ul class="links">
        <h4>Main Menu</h4>
        <li>
            <span class="material-symbols-outlined">person</span>
          <a href="profil">Profile</a>
        </li>
        <li>
          <span class="material-symbols-outlined">show_chart</span>
          <a href="#">My Wardobe</a>
        </li>
        <li>
          <span class="material-symbols-outlined">flag</span>
          <a href="#">Meteo</a>
        </li>
        
        <li>
          <span class="material-symbols-outlined">person</span>
          <a href="#">Calendar</a>
        </li>
        <li>
          <span class="material-symbols-outlined">group</span>
          <a href="#">ChatBot </a>
        </li>
        
        <li>
          <span class="material-symbols-outlined">settings</span>
          <a href="#">Settings</a>
        </li>
        <li class="logout-link">
          <span class="material-symbols-outlined">logout</span>
          <a href="#">Logout</a>
        </li>
      </ul>
    </aside>
    
  </body>

